{% extends "master.html" %}

{% load static %}

{% comment %} CSS Block Link {% endcomment %}
{% block css_link %}
    {% static "css/addBook.css" %}
{% endblock css_link %}

{% comment %} Title Block Link {% endcomment %}
{% block title %}
Display Books | Leagues LMS
{% endblock title %}

{% comment %} Content Block {% endcomment %}
{% block content %}
    <section id="display-container">
        <section class="side-nav">
            {% include "side_nav.html" %}
        </section>
        <section class="content-display">
            {% if messages %}
                    {% for message in messages %}
                        <div class=" {{message.tags}} ">{{message}}</div>
                    {% endfor %}
            {% endif %}
            <h1 class='title-header'>Display Books</h1>
            <div class="top-div">
                <div class="search-divs">
                    <div id="search">
                        <form method="post" action="{% url 'searchBooks' %}" class='search-div'>
                            {% csrf_token %}
                            <input type="text" name="search" placeholder="Enter Book Name">
                            <button type="submit" class="search-btn">
                                Search Book
                            </button>
                        </form>
                    </div>
                </div>
                <div class="add-book-div">
                    <a class='add-book' href={% url 'addBook' %}>Add New Book</a>
                </div>
            </div>
            <div class="table-container">
                <div class="table-content">
                    <table class="table align-middle table-sm table-hover">
                        <thead class="thead">
                            <tr style="text-align: center;">
                                <th class='small-100'>Status</th>
                                <th class='small-100'>Book Id</th>
                                <th class="big-200">Book Name</th>
                                <th class='medium-200'>Author</th>
                                <th class='medium-200'>Publishers</th>
                                <th class='medium-150'>Edition</th>
                                <th class='small-100'>Book Form</th>
                                <th class='medium-200'>Book Subject</th>
                                <th class='small-100'>Book Condition</th>
                                <th class='medium-150'>Date Added</th>
                                <th class='medium-200'>Added By</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% if search_books %}
                                <a href="{% url 'displayBooks' %}">Display All Books</a>
                                {% for book in search_books %}
                                    <tr>
                                        <td>
                                            <div class="book-status {{book.bookStatus }}">
                                                {{ book.bookStatus }}</td>
                                            </div>
                                        <td>{{ book.bookId }}</td>
                                        <td>{{ book.bookTitle }}</td>
                                        <td>{{ book.bookAuthor }}</td>
                                        <td>{{ book.bookPublisher }}</td>
                                        <td>{{ book.bookEdition }}</td>
                                        <td>{{ book.bookForm }}</td>
                                        <td>{{ book.bookSubject }}</td>
                                        <td>{{ book.bookCondition }}</td>
                                        <td>{{ book.dateAdded }}</td>
                                        <td>{{ book.addedBy }}</td>
                                        <td class='btns-div-cta'>
                                            <a class='issue-btn' href={% url "issueBook" book.bookId %}>Issue</a>
                                            <a class='update-btn' href={% url 'updateBook' book.bookId %}>Update</a>
                                        </td>
                                    </tr>
                                    
                                {% endfor %}
                            {% else %}
                                {% for book in books %}
                                    <tr>
                                        <td>
                                            <div class="book-status {{book.bookStatus }}">
                                                {{ book.bookStatus }}</td>
                                            </div>
                                        <td>{{ book.bookId }}</td>
                                        <td>{{ book.bookTitle }}</td>
                                        <td>{{ book.bookAuthor }}</td>
                                        <td>{{ book.bookPublisher }}</td>
                                        <td>{{ book.bookEdition }}</td>
                                        <td>{{ book.bookForm }}</td>
                                        <td>{{ book.bookSubject }}</td>
                                        <td>{{ book.bookCondition }}</td>
                                        <td>{{ book.dateAdded }}</td>
                                        <td>{{ book.addedBy }}</td>
                                        <td class='btns-div-cta'>
                                            <a class='issue-btn' href={% url "issueBook" book.bookId %}>Issue</a>
                                            <a class='update-btn' href={% url 'updateBook' book.bookId %}>Update</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
        </section>
    </section>
{% endblock content %}